/* I don't usually do much CSS either. Please keep that in mind if you read on */
:root {
    --fg: #eff0eb;
    --bg-a: #282825;
    --bg-b: #333330;
    --bg-c: #444440;
    --red: #ff5c57;
    --green: #5af78e;
    --yellow: #f3f99d;
    --blue: #57c7ff;
    --magenta: #ff6ac1;
    --cyan: #9aedfe;
    --white: #f1f1f0;
}

body {
    margin: 0 auto;
    font-family: sans-serif;
    line-height: 1.4;
    color: var(--fg);
    background-color: var(--bg-a);
}

header {
    margin: auto;
    text-align: center;
    line-height: 1.2;
    padding: 6vw 2em;
    text-shadow: -1px 0 var(--bg-a), 0 1px var(--bg-a), 1px 0 var(--bg-a), 0 -1px var(--bg-a);
    background-color: var(--bg-b);
    background-image:
    linear-gradient(30deg, var(--bg-c) 12%, transparent 12.5%, transparent 87%, var(--bg-c) 87.5%, var(--bg-c)),
    linear-gradient(150deg, var(--bg-c) 12%, transparent 12.5%, transparent 87%, var(--bg-c) 87.5%, var(--bg-c)),
    linear-gradient(30deg, var(--bg-c) 12%, transparent 12.5%, transparent 87%, var(--bg-c) 87.5%, var(--bg-c)),
    linear-gradient(150deg, var(--bg-c) 12%, transparent 12.5%, transparent 87%, var(--bg-c) 87.5%, var(--bg-c)),
    linear-gradient(60deg, var(--bg-a) 25%, transparent 25.5%, transparent 75%, var(--bg-a) 75%, var(--bg-a)), 
    linear-gradient(60deg, var(--bg-a) 25%, transparent 25.5%, transparent 75%, var(--bg-a) 75%, var(--bg-a));
    background-size:80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    background-attachment: fixed;
}

header h1 {
    font-size: 4em;
    color: var(--white);
}

header h5 {
    font-size: 2.5em;
    color: var(--white);
}

.container {
    max-width: 65em;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
}

.monospace {
    font-family: monospace;
    font-size: 1.1em;
}

aside {
    float: left;
    clear: left;
    line-height: 1.8;
    padding-right: 2em;
    font-size: 1em;
}

main {
    overflow: auto;
    padding-left: 3em;
    border-left: 1px solid var(--bg-b);
    max-width: 45em;
    font-size: 1em;
}

footer {
    text-align: center;
    color: #666666;
    padding: 5em;
    background-color: var(--bg-b);
}

a {
    color: var(--cyan);
    text-decoration: none;
}

a:hover {
    color: var(--blue);
}

div.wrapper {
    display: grid;
    grid-template-columns: 25% 40% 30%;
    grid-gap: 10px;
}

div.elem {
    padding-bottom: 2em;
}

div.location {
    text-align: right;
}

div.spacer {
    padding-top: 1em;
}

.color-green {
    color: var(--green);
}

.color-red {
    color: var(--red);
}

.color-yellow {
    color: var(--yellow);
}

.color-cyan {
    color: var(--cyan);
}

.color-magenta {
    color: var(--magenta);
}
